.header,
.login {
  display: flex;
  padding: 10px;
  background-color: rgb(193, 217, 253);
  margin-bottom: 10px;
  justify-content: space-between;
}

.header-avatar {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.header-leftPart {
  display: flex;
  align-items: center;
}

.login-form {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.password {
  margin-left: 10px;
  margin-right: 10px;
}

.description {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px;
  background-color: rgb(134, 178, 244);
}

.news-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.news-item {
  padding: 20px;
  margin-top: 20px;
  width: 45%;
}

.single-news {
  width: 90%;
  margin: auto;
}
